* {
  margin: 0;
}
.container-information {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.container-title {
  background-color: #fff;
}
.container-title,
strong,
span {
  background-color: #fff;
}
