* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 100vh;
    background: red;
    padding: 20px;
    overflow: auto;
    .WrapperImage{
    display: flex;
    align-items: center;
    }
}
